name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Build Docker Image
        run: docker build -t debian-gui-iso .

      - name: Run Docker Image
        run: |
          docker run --rm --privileged debian-gui-iso
